extends layout.pug

block content
    body
        a(href='/') Home
        br
        a(href='/create') Create
        br
        a(href='/create-interesting') Create Interesting
        br
        table
            h2 Existing Users
            th id
            th First Name
            th Last Name
            th Email
            th Age
            th Favorite Beatle
            th Likes Ice Cream
                td= id
                td= firstName
                td= lastName
                td= email
                td= age
                td= favoriteBeatle
                td= likesIceCream
